button.btn.btn-primary.collapsed:before
{
    content: 'Просмотреть';
    width: 120px;
    display: block;
}

button.btn.btn-primary:before
{
    content:'Скрыть';
    display: block;
    width: 100px;
}
